body {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Courier New", Courier, monospace;
}

h1,
h2 {
  font-family: "League Gothic", sans-serif;
  font-family: "Courier New", Courier, monospace;
}
